@font-face {
  font-family: 'MinionProRegular';
  src: url("../fonts/MinionProRegular.eot");
  src: url("../fonts/MinionProRegular.eot") format("embedded-opentype");
  src: url("../fonts/MinionProRegular.woff2") format("woff2");
  src: url("../fonts/MinionProRegular.woff") format("woff");
  src: url("../fonts/MinionProRegular.ttf") format("truetype");
  src: url("../fonts/MinionProRegular.svg#MinionProRegular") format("svg"); }

body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #444; }
  body .container {
    width: 96%;
    margin: 0 auto; }
  body .clearfix:before, body .clearfix:after {
    content: "";
    display: table; }
  body .clearfix:after {
    clear: both; }
  body a {
    text-decoration: none;
    color: #444; }
  body h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: #444; }
  body header {
    text-align: center; }
    body header .logo {
      margin-top: 50px;
      display: block; }
      body header .logo img, body header .logo h1 {
        display: inline-block; }
      body header .logo img {
        width: 67px;
        height: auto;
        vertical-align: bottom; }
      body header .logo h1 {
        font-size: 2.5em;
        font-weight: 700;
        margin: 0;
        color: #2d2e4e; }
    body header nav {
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 2; }
      body header nav .hamburger {
        cursor: pointer;
        padding: 10px 0 10px 10px;
        background-color: #fff;
        border-bottom: 1px solid #2d2e4e; }
        body header nav .hamburger .line {
          border-bottom: 4px solid #2d2e4e;
          width: 35px;
          margin-bottom: 6px; }
        body header nav .hamburger .line:last-child {
          margin-bottom: 0; }
      body header nav .menu {
        width: 100%;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: height .3s; }
        body header nav .menu li a {
          display: block;
          padding: 10px 0;
          background-color: #fff;
          color: #444;
          border-bottom: 1px solid #2d2e4e; }
          body header nav .menu li a:hover {
            background-color: #2d2e4e;
            color: #fff; }
        body header nav .menu li .active {
          background-color: #444;
          color: #fff; }
      body header nav .open {
        height: 200px; }
  body main .phones {
    max-width: 393px;
    margin: 0  auto; }
    body main .phones img {
      width: 100%;
      height: auto;
      margin: 65px auto 0;
      text-align: center; }
  body main .text {
    text-align: center;
    margin-top: 50px; }
    body main .text span, body main .text a {
      display: block;
      font-size: 1.5em;
      line-height: 2em; }
    body main .text a {
      font-weight: 700; }
  body main .about {
    text-align: center;
    background: url("../img/sleeping_woman.jpg");
    background-size: cover;
    margin-top: 35px; }
    body main .about h3 {
      padding: 40px 0; }
    body main .about p {
      text-align: justify;
      display: block;
      width: 90%;
      margin: 0  auto; }
    body main .about p:last-child {
      margin-top: 40px;
      padding-bottom: 40px; }
  body main .benefits {
    margin-top: 75px; }
    body main .benefits h3 {
      text-align: center; }
    body main .benefits .benefits-more {
      padding: 5px 10px 0;
      margin: 0  auto;
      background: #39bfeb;
      width: 45px;
      position: relative;
      color: #fff;
      cursor: pointer;
      z-index: 1; }
    body main .benefits .benefits-more::after {
      content: "";
      display: block;
      height: 0;
      border-top: 15px solid #39bfeb;
      border-left: 32px solid transparent;
      border-right: 32px solid transparent;
      border-bottom: 0;
      position: absolute;
      bottom: -15px;
      left: 0px; }
    body main .benefits .benefits-block {
      height: 0;
      overflow: hidden;
      transition: height .3s; }
      body main .benefits .benefits-block ul {
        width: 215px;
        margin: 0  auto; }
      body main .benefits .benefits-block a {
        font-size: .8em;
        display: block;
        background: #fff;
        padding: 5px 10px; }
        body main .benefits .benefits-block a i, body main .benefits .benefits-block a span {
          display: inline-block; }
        body main .benefits .benefits-block a span {
          text-align: justify; }
        body main .benefits .benefits-block a i {
          font-size: 30px;
          width: 45px;
          text-align: right;
          margin-right: 12px; }
      body main .benefits .benefits-block a:hover {
        background: #39bfeb;
        color: #fff;
        position: relative; }
      body main .benefits .benefits-block a:hover:after,
      body main .benefits .benefits-block a:hover:before {
        content: ' ';
        display: block;
        position: absolute;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; }
      body main .benefits .benefits-block a:hover:after {
        border-left: 25px solid #39bfeb;
        border-right: 0;
        top: 0;
        right: -25px; }
      body main .benefits .benefits-block a:hover:before {
        border-right: 25px solid #39bfeb;
        border-left: 0;
        top: 0;
        left: -25px; }
      body main .benefits .benefits-block .big i {
        vertical-align: top;
        line-height: 45px; }
      body main .benefits .benefits-block .big:hover:after,
      body main .benefits .benefits-block .big:hover:before {
        border-top: 27px solid transparent;
        border-bottom: 27px solid transparent; }
      body main .benefits .benefits-block .benefits-left li:first-child a {
        margin-top: 20px; }
    body main .benefits .benefits-open {
      height: 362px; }
  body main .img-phone {
    max-width: 300px;
    margin: 40px  auto 0; }
    body main .img-phone img {
      width: 100%;
      height: auto; }
  body main .users h3 {
    text-align: center;
    margin: 60px 0; }
  body main .users article {
    border: 2px solid #39bfeb;
    box-shadow: 0 0 15px 0 #444;
    position: relative;
    width: 90%;
    margin: 100px  auto 0;
    text-align: left; }
    body main .users article img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      border: 2px solid #39bfeb;
      box-shadow: 0 0 15px 0 #444;
      margin: 0;
      position: absolute;
      top: -64px;
      right: 20px; }
    body main .users article h4 {
      font-size: 1.2em;
      padding-top: 45px;
      margin-left: 10px; }
    body main .users article .stars {
      margin-left: 10px;
      color: #f5ca35; }
    body main .users article p {
      margin: 15px 10px 20px; }
    body main .users article p:last-child {
      margin-bottom: 0;
      padding-bottom: 30px; }
  body main .download h3 {
    text-align: center;
    margin: 60px 0 40px; }
  body main .download .stores, body main .download .social {
    text-align: center; }
    body main .download .stores a, body main .download .social a {
      display: block;
      width: 150px;
      display: inline-block;
      margin: 5px; }
      body main .download .stores a img, body main .download .social a img {
        margin: 0;
        width: 100%;
        height: auto; }
  body main .download .social {
    margin-top: 40px; }
    body main .download .social a {
      width: 50px;
      font-size: 2.75em;
      color: #39bfeb; }
  body main .post {
    width: 94%;
    margin: 40px  auto 20px;
    border: 1px solid #efefef;
    padding: 30px 5px 30px 5px;
    box-shadow: 2px 2px 5px 0 #9e9e9e; }
    body main .post h3 {
      font-weight: 400;
      font-size: 36px;
      margin: 0 0 15px 25px; }
    body main .post .date-wrapper {
      border-top: 2px dotted #666;
      border-bottom: 2px dotted #666;
      padding: 10px 0; }
      body main .post .date-wrapper .date,
      body main .post .date-wrapper .social,
      body main .post .date-wrapper .comment {
        display: inline-block;
        font-size: 24px;
        color: #666; }
      body main .post .date-wrapper .date {
        padding-right: 7px;
        border-right: 1px solid #666;
        margin-left: 15px; }
      body main .post .date-wrapper .comment {
        font-family: "Raleway", sans-serif;
        margin-left: 5px;
        padding-right: 8px;
        border-right: 1px solid #666;
        color: #39bfeb; }
        body main .post .date-wrapper .comment i {
          margin-right: 7px;
          color: #39bfeb; }
      body main .post .date-wrapper .social {
        margin-left: 7px; }
        body main .post .date-wrapper .social a {
          margin-right: 10px;
          color: #666; }
        body main .post .date-wrapper .social .blue {
          color: #39bfeb; }
    body main .post .post-content {
      padding-top: 35px; }
      body main .post .post-content .post-img-phone {
        margin: 0  auto;
        min-width: 250px;
        max-width: 359px; }
        body main .post .post-content .post-img-phone img {
          width: 100%;
          height: auto; }
      body main .post .post-content .post-text {
        font-size: 24px;
        width: 90%;
        margin: 0 20px 0 20px; }
      body main .post .post-content .read-more {
        box-sizing: border-box;
        display: block;
        width: 180px;
        margin-left: 20px;
        margin-top: 40px;
        border: 1px solid #39bfeb;
        color: #39bfeb;
        font-size: 24px;
        padding: 13px; }
  body main .pagination {
    text-align: center;
    margin-top: 50px; }
    body main .pagination a {
      display: inline-block;
      padding: 15px;
      width: 45px;
      font-size: 30px;
      border: 1px solid #444; }
    body main .pagination .page-active {
      border-color: #39bfeb;
      color: #39bfeb; }
    body main .pagination .disabled {
      border-color: #c4c4c4;
      color: #c4c4c4; }

body main .opened-post {
  border: none;
  box-shadow: none; }
  body main .opened-post .opened {
    margin: 0;
    background: #39bfeb;
    text-align: center;
    padding: 8px;
    color: #fff; }
  body main .opened-post .opened-date-wrapper {
    border-top: none; }
  body main .opened-post .opened-post-content {
    border-bottom: 2px dotted #444;
    padding-bottom: 30px; }

body main .comments-block {
  text-align: center; }
  body main .comments-block img,
  body main .comments-block form {
    display: inline-block; }
  body main .comments-block img {
    vertical-align: top; }
  body main .comments-block form {
    width: 70%;
    min-width: 200px; }
    body main .comments-block form textarea {
      resize: horizontal;
      width: 100%;
      border: 2px solid #39bfeb;
      box-shadow: 0 0 10px 1px #666, inset 0 0 10px 1px #666; }

@media screen and (min-width: 767px) {
  body header .logo {
    float: left;
    margin-top: 20px;
    margin-left: 20px; }
  body header nav {
    position: static; }
    body header nav .hamburger {
      display: none; }
    body header nav .menu {
      overflow: visible;
      height: auto;
      width: auto;
      float: right;
      margin: 45px 20px 0 0; }
      body header nav .menu li {
        display: inline-block; }
        body header nav .menu li a {
          border: 1px solid #444;
          padding: 5px 5px; }
        body header nav .menu li a:hover {
          background: #444; }
  body main .phones {
    max-width: 593px; }
    body main .phones img {
      width: 100%; }
  body main .benefits .benefits-more {
    display: none; }
  body main .benefits .benefits-block {
    height: auto;
    overflow: visible; }
    body main .benefits .benefits-block .benefits-left {
      float: left; }
      body main .benefits .benefits-block .benefits-left li a {
        margin-top: 20px;
        margin-bottom: 60px; }
      body main .benefits .benefits-block .benefits-left li a:before {
        display: none; }
    body main .benefits .benefits-block .benefits-right {
      float: right; }
      body main .benefits .benefits-block .benefits-right li a {
        margin-top: 20px;
        margin-bottom: 60px; }
      body main .benefits .benefits-block .benefits-right li a:after {
        display: none; }
  body main .users {
    text-align: center; }
    body main .users article {
      width: 360px;
      display: inline-block;
      margin-left: 10px; }
  body main .download .stores a {
    width: 218px; }
  body main .download .social a {
    font-size: 3.75em; }
  body main .post-1 .post-content .post-img-phone {
    float: left;
    margin-right: 40px; }
  body main .post-1 .post-content .post-text {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 90px;
    min-width: 290px; }
  body main .post-1 .post-content .read-more {
    float: left;
    margin-left: 0; }
  body main .post-3 .post-content .post-img-phone {
    float: right;
    margin-right: 20px;
    margin-left: 40px;
    margin-top: 30px; } }

@media screen and (min-width: 1170px) {
  body {
    width: 1170px;
    margin: 0  auto; }
    body header .logo {
      margin: 46px 0 0 15px; }
      body header .logo img {
        width: 77px; }
      body header .logo h1 {
        margin-left: 17px;
        font-size: 3.75em; }
    body header nav .menu {
      margin-top: 70px; }
      body header nav .menu li a {
        font-size: 1.6em; }
    body main .phones {
      max-width: 695px; }
      body main .phones img {
        margin-top: 96px; }
    body main .text {
      margin-top: 95px;
      font-size: 33px; }
      body main .text a, body main .text span {
        line-height: 62px; }
    body main .about h3 {
      font-size: 48px;
      margin-top: 90px; }
    body main .about p {
      width: 940px;
      font-size: 24px; }
    body main .about p:last-child {
      margin-top: 29px; }
    body main .benefits {
      margin-top: 169px; }
      body main .benefits h3 {
        font-size: 48px; }
      body main .benefits .benefits-block {
        margin-top: 99px; }
        body main .benefits .benefits-block a {
          font-size: 16px;
          font-weight: 700;
          padding: 21px 0;
          width: 230px; }
          body main .benefits .benefits-block a i {
            font-size: 43px;
            margin-right: 14px; }
        body main .benefits .benefits-block a:hover:after,
        body main .benefits .benefits-block a:hover:before {
          border-top: 43px solid transparent;
          border-bottom: 42px solid transparent; }
        body main .benefits .benefits-block a:hover:after {
          border-left: 28px solid #39bfeb;
          right: -28px; }
        body main .benefits .benefits-block .big:hover:after,
        body main .benefits .benefits-block .big:hover:before {
          border-top: 49px solid transparent;
          border-bottom: 50px solid transparent; }
        body main .benefits .benefits-block .benefits-left li:first-child a {
          margin-top: 13px; }
        body main .benefits .benefits-block .benefits-right li a {
          margin-top: 18px;
          margin-bottom: 67px; }
        body main .benefits .benefits-block .benefits-left li a {
          margin-top: 71px; }
      body main .benefits .img-phone {
        margin-top: 139px;
        max-width: 378px; }
    body main .users h3 {
      margin-top: 250px;
      font-size: 48px; }
    body main .users article {
      width: 350px;
      margin-right: 25px;
      margin-left: 0;
      text-align: left; }
    body main .users article:last-child {
      margin-right: 0; }
    body main .download h3 {
      margin-top: 118px;
      font-size: 58px;
      font-weight: 400; }
    body main .download .stores {
      margin-top: 121px; }
      body main .download .stores a {
        margin-right: 70px; }
      body main .download .stores a:last-child {
        margin-right: 0; }
    body main .download .social a {
      margin-top: 63px; } }

/*# sourceMappingURL=style.css.map */